{% extends 'base.html' %}
{% block content %}

<div class="w-1/2 mx-auto">
  <h1 class="text-xl mb-4">Register</h1>

  <form method="POST" action="">
    {% csrf_token %}
    
    {% if form.errors %}
      <div x-data="{ open: true }">
        <div x-show="open" class="alert alert-warning">
          Your Form Has Errors
          {% for field in form %}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          {% endfor %}
          <button type="button" @click="open = false" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit" class="px-4 py-2 bg-gray-600 text-white rounded">Register</button>
  </form>
</div>

{% endblock %}
